doctype 5
html
    head
        title= title
        link( rel='stylesheet', href='/mocha/mocha.css' )


    body
        block content


        script( src='http://code.jquery.com/jquery.min.js' )
        script( src='/chai/chai.js' )
        script( src='/mocha/mocha.js' )
        script( src='/js/lib/require.js' )
        script( src='/js/main.js' )
        script( src='setup.js' )
        script( src='app.test.js' )

        script
            require(
                [ 'app' ],
                function() {
                    mocha.run();
                }
            );
